.home-container {
  display: flex;
  flex-direction: column;
  padding: 20px; /* Add padding for responsiveness */
}

.home-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homebox {
  width: 100%;
  padding: 20px;
}

.heading h1 {
  font-size: 2rem; /* Adjust font size for smaller screens */
  margin-top: 2rem; /* Adjust margin for smaller screens */
}

.img-sec img {
  width: 100%;
  border-radius: 1rem;
}

.paragh-sec p {
  font-size: 1rem; /* Adjust font size for smaller screens */
  padding: 10px;
  color: black;
}

.homebox1 {
  width: 100%;
  padding: 20px;
  color: black;
}

/* Media Query for responsiveness */
@media screen and (min-width: 978px) {
  .home-section {
    flex-direction: row;
  }

  .homebox {
    width: 40%;
  }

  .homebox1 {
    width: 60%;
  }

  .heading h1 {
    font-size: 2.5rem; /* Adjust font size for larger screens */
    margin-top: 3rem; /* Adjust margin for larger screens */
  }
}
