.container {
  width: 100%;
  max-width: 960px;
  padding: 20px;
  margin: 2rem auto;
}

.contact {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.2em;
  color: #888;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.formboxes {
  /* width: 48%; */
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.formtext {
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.formbox,
.formtext,
.buttonbox {
  padding: 10px;
}

/* Responsive Styles */

@media (max-width: 968px) {
  /* .formboxes {
    min-width: 100%;
  } */

  .forms {
    justify-content: center;
  }
}
