.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h5 {
  text-align: center;
}

.formboxes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 978px) {
  .container {
    margin-bottom: 10rem;
  }
  .formboxes {
    flex-direction: column;
  }
  .formtext {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
