.home {
  display: flex;
  height: 100vh;
}

.home-img {
  width: 100%;
  object-fit: cover;
}

.main {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  left: 63%;
  top: 64%;
}

.main .heading {
  margin-bottom: 1rem; /* Adjust margin for responsiveness */
  font-family: "Playfair Display", serif;
  color: rgb(252, 254, 255);
  font-weight: 900;
}

.main .head2 {
  font-family: "Playfair Display", serif;
  color: rgb(252, 254, 255);
  font-weight: 500;
}

/* Media Query for responsiveness */
@media screen and (max-width: 978px) {
  .home {
    display: inline;}
    .main {
      display: none;
    }

  .main .heading {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .main .head2 {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
  .home-img {
    width: 100%;
    object-fit: cover;
  }
}
